.wrapper {
	width: 100%;
	margin: 16px auto;
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ebebeb;
	border-radius: 4px;
	max-width: 1024px;
}

.iconLink {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	padding-right: 15px;
}

.name {
	font-size: 50px;
	margin-bottom: 15px;
}

.party {
	font-size: 20px;
}

.company_section {
	font-size: 20px;
}

.desc {
	font-style: oblique;
	align-items: center;
	font-size: 18px;
}

.info_block {
	background-color: #fff;
	height: 100%;
	width: 100%;
	padding: 20px;
	justify-content: flex-start;
	border-radius: 5px;
	align-items: flex-start;
}

.companyImg {
	margin-bottom: 20px;
	width: auto;
	height: auto;
	max-width: 150px;
	max-height: 150px;
}

a {
	text-decoration: 'none';
}

.info_text {
	justify-content: flex-start;
	font-size: 20px;
	align-items: flex-start;
}

.chart {
	background-color: #fff;
	height: 300px;
	width: 100%;
}
.link_container {
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
	margin: auto 10%;
}

.loadWrapper {
	margin-top: 10%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.chart {
	background-color: #fff;
	height: 300px;
	width: 100%;
}
