.wrapper {
	width: 100%;
	margin: 16px auto;
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ebebeb;
	border-radius: 4px;
	max-width: 1024px;
}

.politicianImg {
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: 100%;
	max-width: 350px;
	max-height: 350px;
}

.name {
	font-size: 50px;
	margin-bottom: 15px;
}

.party {
	font-size: 20px;
}

.company_section {
	font-size: 20px;
}

.desc {
	font-style: oblique;
	align-items: center;
	font-size: 18px;
}

.info_block {
	background-color: #fff;
	height: 100%;
	width: 100%;
	padding: 20px;
	justify-content: flex-start;
	border-radius: 5px;
	align-items: flex-start;
}

.info_small_block {
	background-color: #fff;
	height: 100%;
	width: 100%;
	padding: 20px;
	justify-content: flex-start;
	border-radius: 5px;
	align-items: flex-start;
}

a,
a:visited,
a:hover,
a:active {
	color: inherit;
}

.info_text {
	justify-content: flex-start;
	font-size: 20px;
	align-items: flex-start;
}

.info_smaller_range {
	justify-content: flex-start;
	font-size: 15px;
	align-items: flex-start;
}

.chart {
	background-color: #fff;
	height: 300px;
	width: 100%;
}

.chart_bigger {
	background-color: #fff;
	height: 425px;
	width: 100%;
}

.link_container {
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
	margin: auto 10%;
}

.loadWrapper {
	margin-top: 10%;
	justify-content: center;
	align-items: center;
	text-align: center;
}
