.gridContainer {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-auto-flow: dense;
	grid-gap: 25px;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
}

.title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	font-weight: bold;
}

.wrapper {
	width: 90%;
	max-width: 1000px;
	margin: 16px auto;
}
