.title {
	text-align: left;
	display: inline-block;
}

.head {
	padding: 50px 0 0 20px;
	font: inherit;
	width: 100%;
	position: relative;
}

.table {
	padding-bottom: 30px;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
}

.loadWrapper {
	margin-top: 10%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cardContainer {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-auto-flow: dense;
	grid-gap: 25px 45px;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
}

.wrapper {
	width: 90%;
	max-width: 1500px;
	margin: 16px auto;
}

.title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	font-weight: bold;
}

.name {
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
}

.nameSection {
	margin-left: auto;
	margin-right: auto;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
	padding: 20px;
}
