.cardContainer {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-flow: dense;
	grid-gap: 10px 15px;
	justify-content: space-evenly;
	justify-items: left;
	align-content: space-evenly;
	align-items: center;
}
.table {
	padding-bottom: 20px;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
}
