.republican {
	background-color: rgb(249, 83, 83);
	color: white;
}

.democrat {
	background-color: rgb(72, 72, 255);
	color: white;
}

.independent {
	background-color: white;
	color: black;
}

.icon {
	width: 40px;
	height: 40px;
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
}

.icon > * {
	flex: 0 0 120px;
}
