.roundedImg {
	border-radius: 50%;
	padding: 7.5%;
}

.imageContainer {
	position: relative;
	overflow: hidden;
	padding-bottom: 100%;
}

.politicianImg {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.companyImg {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.buttonLink {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	bottom: 7.5%;
	position: absolute;
}

.polTitle {
	font-size: 2rem;
}

.stockTitle {
	max-height: 64px;
}

.personCard {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 555px;
}

.gitCard {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 555px;
}

.companyCard {
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 525px;
	width: 300px;
}

.modelCard {
	margin: 16px auto;
	height: 415px;
	position: relative;
}

.stockCard {
	margin: 16px auto;
	width: 80%;
	justify-content: center;
	text-align: center;
}

.politicianCard {
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 550px;
	width: 320px;
}

.politicianCard > * {
	flex: 1;
}

a:link {
	color: inherit;
}

a * {
	color: black;
}

.float {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.3s ease-in-out;
}

.float:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.float::after {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.float:hover::after {
	opacity: 1;
}

.gitElement {
	margin: 21px auto;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid rgb(186, 186, 186);
}

.gitElement:last-child {
	border: none;
}

.gitWrapper {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

#stockpic {
	display: flex;
	max-width: 30px;
}

.infoWrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	max-height: 250px;
	width: 100%;
	margin: 10px auto;
}

.infoBox {
	display: grid;
	align-items: center;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
	margin: 5px;
}

.statsWrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.miniStats {
	display: grid;
	align-items: center;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
	border-right: 1px solid rgb(186, 186, 186);
}

.miniStats:last-child {
	border: none;
}

.toolImg {
	padding: 7.5%;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.toolCard {
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Specify Width and Height in line to make image fit */
.imgCover {
	display: inline-block;
}

.toolImg {
	padding: 7.5%;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.sourceCard {
	height: 215px;
	width: 215px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.sourceImg {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.pairParent {
	justify-content: center;
	align-items: center;
}

.sideBySide {
	display: inline-block;
	width: 50%;
	text-align: center;
	padding-right: 0;
}

.sideBySide:first-child {
	text-align: right;
	border-right: 1px solid rgb(152, 152, 152);
	padding-left: 0;
	padding-right: 2.5%;
}
