.title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.summary {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
}

.cardContainer {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-auto-flow: dense;
	grid-gap: 8px;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
}

.wrapper {
	width: 90%;
	max-width: 1500px;
	margin: 16px auto;
}
